body {
	background-color:#193e48;
	text-align: center; 
	background-position: center;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start{
    top: 50%;
    left: 50%;
    width: 20%;
    height: 80px;
    transform: translate(-20%, 640%);
    color: white;
    background-color: red;
    font-size: 45px;

}